/* CSS */

body {
    margin: 0;  
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}


/* HEADER */

header {
    padding: 4rem;
    background-image: url(../imgs/adult-1807500_1280.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    animation-name: backg;
    animation-duration: 1s;
}

@keyframes backg {
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    100%{
        opacity: 1;
        animation-timing-function: ease-in;
    }
  }

header .container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

header .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 8rem;
    transition: transform 0.5s;
    will-change: transform;
}

header .logo img:active {
    color: #ffc200;
    transform: scale(0.9); 
}

header nav ul {
    padding: 0;
    list-style-type: none;
}

header nav ul a {
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    transition: transform 0.5s;
    will-change: transform;
}

header nav ul li:hover {
    color: #ffc200;
    transform: scale(0.9); 
}

header nav ul a:hover {
    color: #ffc200;
}

header button {
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Playfair Display', serif;
    border-radius: 20px 10px;
    background-color: #ffc200;
    border-bottom: none;
}

#slogan {
    opacity: 0.8;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    font-family: 'Felipa', cursive;
    animation-name: slogan;
    animation-duration: 2s;
}

@keyframes slogan {
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50% {
        opacity: 0.2;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
  }


@media (min-width: 510px) {
    header nav ul {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header .container2 {
        padding-top: 5rem;
    }
}

@media (min-width: 640px) {
    header {
        height: 450px;
    }
    header .container {
        flex-direction: row;
    }
    header .container2 {
        padding-top: 10rem;
    }
}

@media (min-width: 730px) {
    header {
        height: 500px;
    }
    header .container {
        justify-content: space-around;
    }
    header .container2 {
        padding-top: 12rem;
    }
}

@media (min-width: 950px) {
    header {
        height: 600px;
        padding: 2rem;
    }
    header .logo img {
        width: 6rem;
    }
    header .container2 {
        padding-top: 18rem;
    }
}


/* HOME */
 
#home {
    margin-top: -20px;
    background-image: url(../imgs/journey-1130732_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

.text-initial {
    text-shadow: 1px 1px 2px #000000;
    padding: 1rem;
    text-align: center;
}

#home .cards-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .card-assessment {
    padding: .5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter .5s;
    will-change: transform;
}

#home .card-assessment:hover {
    filter: drop-shadow(3px 3px 4px #313266);
}

.card-description {
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    transition: opacity .5s;
    will-change: opacity;
}

.card-description:hover {
    opacity: 1;
}

.card-cost {
    width: 300px;
    height: 50px;;
    background-color: #00aab6;
}

.card-costt {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    text-align: justify;
    opacity: 0;
    transition: opacity .5s;
    will-change: opacity;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-costt:hover {
    opacity: 1;
}

#card1 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/genipabu-a59c8c.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card2 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/piscinas-naturais-maragogi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card3 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/porto-de-galinhas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card4 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/pelourinho.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card5 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/Cânion-do-Xingó-passeio-Rio-São-Francisco-1024x683.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card6 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/Coqueirinho.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card7 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/Praia-do-forte.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card8 {
    width: 300px;
    height: 200px;
    background-image: url(../imgs/por-do-sol-jacare.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 610px) {
    .card-costt {
        display: none;
    }
}

@media (min-width: 610px) {
    #home .cards-img {
        align-items: center;
    }

    #home .card-assessment {
        flex-direction: row;
    }
    .card-description {
        display: none;
    }

    .card-cost {
        width: 300px;
        height: 200px;
    }   
}

@media (min-width: 1250px) {
    #home .cards-img {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* FORM */

#form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/journey-1130732_1920.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
}

#form .container {
    background-color: #00aab6;
    padding: 2rem;
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form i {
    font-size: 40px;
    color: #ffc200;
}

form button {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Playfair Display', serif;
    border-radius: 20px 10px;
    background-color: #ffc200;
    border-bottom: none;
}

/* FOOTER */

footer {
    background-color: #313266;
    color: #00aab6;
}

footer .container {
    display: flex;
    flex-direction: column;
}

footer .container2 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.baseboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baseboard h2 {
    text-align: center;
}


.baseboard a {
    text-decoration-line: none;
    color:#ffffff;
}

.baseboard i {
    padding: 0.5rem;
    font-size: 40px;
    color: #ffc200;
}

.baseboard a:hover, a:active {
    text-decoration: none;
    color: #ffc200;
}

.social .icons {
    padding: 1rem;
    display: flex;
}

.baseboard .address {
    padding: 1rem;
    width: 100%;
}

.baseboard .copyright {
    padding: 1rem;
    width: 100%;
    text-align: justify;
    color:#ffffff;
    display: flex;
    justify-content: center;
    text-align: justify;
}

@media (min-width: 540px) {
    footer .container {
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center;
    }
}


