/* CSS */

body {
    margin: 0;  
    color:#ffffff;
    font-family: 'Playfair Display', serif;
}


/* HEADER */

header {
    padding: 4rem;
    background-image: url(../imgs/desk-3139127_1920.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    animation-name: backg;
    animation-duration: 1s;
}

@keyframes backg {
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    100%{
        opacity: 1;
        animation-timing-function: ease-in;
    }
  }

header .container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

header .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 8rem;
    transition: transform 0.5s;
    will-change: transform;
}

header .logo img:active {
    transform: scale(0.9); 
}

header nav ul {
    padding: 0;
    list-style-type: none;
}

header nav ul a {
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    transition: transform 0.5s;
    will-change: transform;
}

header nav ul li:hover {
    transform: scale(0.9); 
}

header nav ul a:hover {
    color: #ffc200;
    text-shadow: 1px 1px 2px #ffc200;
}

header button {
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Playfair Display', serif;
    border-radius: 20px 10px;
    background-color: #ffc200;
    border-bottom: none;
}

#slogan {
    opacity: 0.8;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    font-family: 'Felipa', cursive;
    animation-name: slogan;
    animation-duration: 2s;
}

@keyframes slogan {
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50% {
        opacity: 0.2;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
  }


@media (min-width: 510px) {
    header nav ul {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header .container2 {
        padding-top: 5rem;
    }
}

@media (min-width: 640px) {
    header {
        height: 450px;
    }
    header .container {
        flex-direction: row;
    }
    header .container2 {
        padding-top: 10rem;
    }
}

@media (min-width: 730px) {
    header {
        height: 500px;
    }
    header .container {
        justify-content: space-around;
    }
    header .container2 {
        padding-top: 12rem;
    }
}

@media (min-width: 950px) {
    header {
        height: 600px;
        padding: 2rem;
    }
    header .logo img {
        width: 6rem;
    }
    header .container2 {
        padding-top: 18rem;
    }
}


/* HOME */
.quem {
    color: rgb(248, 195, 19);
}
p {
    color: rgb(68, 64, 64);
}

.container{
    font-size: 10px;
    display: grid;

}


@media (min-width: 510px) {


.container h1 {
    text-align: center;
    font-size: 30px;
}

.container p {
    padding: 4px;
    margin: 0px;
}
}

@media (min-width: 640px) {
    .container h1{
        text-align: center;}

    .container .grid{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-column-gap: 8px;
        grid-template-areas:
        "p1" "p3"
        "p2" "p4";
    }
}



@media (min-width: 950px) {
    .container h1{
        text-align: center;
    }
    .container .grid{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-column-gap: 8px;
        grid-template-areas:
        "p1" "p3"
        "p2" "p4";
    }
    }







/* FORM */

#form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-image: url(../imgs/sea-1337565_1920.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: auto;
}

#form .container {
    background-color: #00aab6;
    padding: 2rem;
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

form i {
    font-size: 40px;
    color: #ffc200;
}

form button {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    border-radius: 20px 10px;
    text-shadow: 1px 1px 2px #000000;
    background-color: #ffc200;
    border-bottom: none;
}

/* FOOTER */

footer {
    background-color: #313266;
    color: #00aab6;
}

footer .container {
    display: flex;
    flex-direction: column;
}

footer .container2 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.baseboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baseboard h2 {
    text-align: center;
}


.baseboard a {
    text-decoration-line: none;
    color:#ffffff;
}

.baseboard i {
    padding: 0.5rem;
    font-size: 40px;
    color: #ffc200;
}

.baseboard a:hover, a:active {
    text-decoration: none;
    color: #ffc200;
}

.social .icons {
    padding: 1rem;
    display: flex;
}

.baseboard .address {
    padding: 1rem;
    width: 100%;
}

.baseboard .copyright {
    padding: 1rem;
    width: 100%;
    text-align: justify;
    color:#ffffff;
    display: flex;
    justify-content: center;
    text-align: justify;
}

@media (min-width: 540px) {
    footer .container {
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center;
    }
}


